<div class="row">
  <div class="five columns centered">
    <h4>Edit <i>program participation results</i> for outcome "<%=@outcome.name%>. <%=@outcome.description%>"</h4>
  </div>
</div>

<%= render "form" %>
