<div class="row">
  <div class="five columns centered">
    <h4>Add <i>a new indirect assessment</i> for outcome "<%=@outcome.name%>. <%=@outcome.description%>"</h4>
  </div>
</div>

<%= render "form" %>
