/.bundle
#Keeping this checked in because it only contains connection info for dev and test, not prod
/config/database.yml
/log/*.log
/tmp
tmp

# Ignore the default SQLite database.
/db/*.sqlite3

.DS_Store
/config/certs/
