<% tab(TabHelper::OUTCOMES) %>

<h1><%= t(".heading", course: @course) %></h1>

<% if @course.outcomes_with_metadata.present? %>
  <%= render "outcomes", course: @course %>
<% end %>

<% if @unaligned_standard_outcomes.present? %>
  <%= render "unaligned_standard_outcomes",
    course: @course,
    outcomes: @unaligned_standard_outcomes %>
<% end %>
