<table>
  <tr>
    <td>
      <%= t(".no_assessments") %>

      <% if @filtered_outcome.present? %>
        <%= t(".for_outcome", name: @filtered_outcome.label) %>
      <% end %>
    </td>
  </tr>
</table>
