.modal-overlay {
  @include position(fixed, 0);
  background-color: $brown;
  opacity: 0;
  transition: $base-transition;
  visibility: hidden;
  z-index: $modal-overlay-z-index;

  &.modal-visible {
    opacity: 0.9;
    visibility: visible;
  }
}

.modal-close-wrapper {
  text-align: right;
}

.modal-close {
  color: $light-gray;
  cursor: pointer;
  font-size: $large-font-size;
  transition: $base-transition;

  &:hover {
    color: $blue;
  }
}

.modal {
  @include margin(null auto);
  @include position(fixed, 0 0 null);
  background-color: $white;
  border-radius: $base-border-radius;
  opacity: 0;
  padding: $small-spacing;
  text-align: center;
  transition: $long-transition;
  visibility: hidden;
  width: 90%;
  z-index: $modal-z-index;

  @include media($medium-screen-up) {
    width: 700px;
  }

  &.modal-visible {
    @include transform(translateY($large-spacing));
    opacity: 1;
    visibility: visible;
  }
}
