.progress {
  $progress-bar-height: 4px;

  @include size(150px $progress-bar-height);
  background-color: $light-gray;
  border-radius: $progress-bar-height / 2;
  overflow: hidden;
}

.progress-bar {
  background-color: $medium-gray;
  height: 100%;
}

.progress-label {
  color: darken($light-gray, 20%);
  font-family: $sans-serif;

  span {
    color: $medium-gray;
  }
}
