body {
  color: $base-font-color;
  line-height: $base-line-height;
  font-family: $base-font-family;
}

hr {
  @include margin($large-spacing null);
  border-bottom: 1px solid $light-gray;
}

a {
  color: $base-link-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $mit-red;
  font-weight: $bold;
}

h1 {
  font-family: $heading-font-family;
  font-size: 1.6em;
  margin-bottom: 0.6em;

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}

h2 {
  font-family: $heading-font-family;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 1.2em;

  @include media($medium-screen) {
    font-size: 1.3em;
  }
}

h3 {
  font-family: $heading-font-family;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

h4 {
  @include margin($medium-spacing null $base-spacing);
  font-family: $sans-serif-narrow;
  font-size: $small-font-size;
  letter-spacing: $base-letter-spacing;
  text-transform: uppercase;
}

h5 {
  @include margin($medium-spacing null $base-spacing);
  font-family: $heading-font-family;
  font-size: $small-font-size;
}

p {
  color: $base-font-color;
  line-height: $base-line-height;
  font-family: $base-font-family;
  letter-spacing: 1;
  margin-bottom: 1.5em;

  span {
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
  }
}
