<div class="row">
  <div class="five columns centered">
    <h4>Edit a <i>new direct assessment</i> for outcome "<%= @assessment.outcome.name %>. <%= @assessment.outcome.description %>"</h4>
  </div>
</div>

<%= render "form" %>
