table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  font-family: $sans-serif-narrow;
  letter-spacing: 0.25px;
  margin: $base-spacing 0 $large-spacing;
  width: 100%;
}

th,
td {
  padding: $small-spacing $base-spacing;

  &:first-of-type {
    padding-left: $small-spacing;
  }

  &:last-of-type {
    padding-right: $small-spacing;
  }
}

th {
  @extend %small-caps;
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  text-align: left;
}

td {
  border-bottom: $base-border;

  a {
    display: block;
  }
}

tr,
td,
th {
  vertical-align: middle;
}

caption {
  margin: $small-spacing 0;
  text-align: left;
  width: 75%;
}

.table-section-header {
  background-color: $lightest-gray;
  color: $medium-gray;
  font-size: $smallest-font-size;
  font-weight: $bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.inline-action-links {
  a {
    border-right: 2px solid $base-border-color;
    display: inline-block;
    line-height: $no-line-height;
    margin-right: $small-spacing;
    padding-right: $small-spacing;

    &:last-of-type {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
}
