table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  font-family: $sans-serif-narrow;
  letter-spacing: 0.25px;
  margin: $large-spacing 0;
  width: 75%;
}

th,
td {
  padding: $small-spacing;
}

th {
  @extend %small-caps;
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  text-align: left;
}

td {
  border-bottom: $base-border;

  a {
    display: block;
  }
}

tr,
td,
th {
  vertical-align: middle;
}

caption {
  margin: $small-spacing 0;
  text-align: left;
}
