// Typography
$base-font-family: "Open Sans", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: rem(14);
$large-font-size: modular-scale(1, $base-font-size);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$largest-spacing: $base-spacing * 4;
$smallest-spacing: $base-spacing / 4;
$header-height: 62px;

// Colors
$blue: #477dca;
$light-blue: aliceblue;
$light-blue-border: shade($light-blue, 5%);
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Font Weight
$bold: 700;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Zs
$base-z-index: 0;
$flashes-z-index: 99999;

// Steps
$breadcrumb-border-color: $light-blue-border;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $base-spacing * 2.4;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $medium-gray;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;
