// Typography
$sans-serif: "Roboto", sans-serif;
$sans-serif-narrow: "Roboto Condensed", sans-serif;
$serif: "Domine", serif;
$base-font-family: $sans-serif, $helvetica;
$heading-font-family: $serif;

// Font Sizes
$base-font-size: 1em;
$smallest-font-size: rem(12);
$small-font-size: rem(14);
$large-font-size: modular-scale(1, $base-font-size);

// Line height
$no-line-height: 1;
$base-line-height: 1.5;
$large-line-height: 1.875;
$heading-line-height: 1.2;

// Border Radius
$base-border-radius: 3px;

// Spacing
$base-spacing: $base-line-height * 1em;
$smallest-spacing: $base-spacing / 4;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing * 1.5;
$large-spacing: $base-spacing * 2;
$largest-spacing: $base-spacing * 4;

// Letter Spacing
$base-letter-spacing: 1px;

// Other
$navigation-height: 60px;
$documentation-side-bar-width: 150px;

// Colors
$blue: #1f67a3;
$light-blue: aliceblue;
$light-blue-border: shade($light-blue, 5%);
$dark-gray: #484343;
$brown: #645858;
$medium-gray: tint($brown, 20%);
$light-gray: #ddd;
$lighter-gray: #f7f7f7;
$lightest-gray: #fafafa;
$white: #fff;
$required-color: #f58122;
$mit-red: #a31f34;
$mit-red-shade: shade($mit-red, 75%);

// Font Colors
$base-background-color: #fff;
$base-font-color: $brown;
$action-color: $blue;
$base-link-color: $action-color !default;

// Font Weight
$bold: 700;

// Letter Spacing
$base-letter-spacing: 1px;

// Border
$base-border-color: $light-gray;
$lighter-border-color: $lighter-gray;
$base-border: 1px solid $base-border-color;
$thick-border-width: 2px;
$thickest-border-width: 6px;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Zs
$base-z-index: 0;
$navigation-z-index: 100;

// Steps
$breadcrumb-border-color: $light-blue-border;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $base-spacing * 2.4;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $brown;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;

// Transition
$base-transition-duration: 0.2s;
$longest-transition-duration: 1s;
$base-transition: all $base-transition-duration ease-in-out;
$long-transition: all ($base-transition-duration * 2) ease-in-out;

// Shadows
$base-inset-shadow: inset 0 1px 3px $light-gray;
