<div class="departments index">
  <h2>Departments</h2>

  <table class="listing" summary="Department list">
    <% @departments.each do |department| %>
    <tr>
      <td class="actions">
        <%= link_to(department.number, {:action => 'show', :id => department.id}, :class => 'action show') %>
      </td>
      <td class="actions">
        <%= link_to(department.name, {:action => 'show', :id => department.id}, :class => 'action show') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>