<table id="courses">
	<tr>
		<th>Course Number</th>
		<th>Course Name</th>
	</tr>
	<% @courses.each do |course| %>
	<tr>
		<td><%=course.course_number %></td>
		<td><%=link_to course.course_name, course%></td>
	</tr>
	<% end %>
</table>