<% tab(TabHelper::OUTCOMES) %>

<h1><%= @department.name %></h1>

<table id="courses">
  <thead>
    <tr>
      <th><%= t(".course_number") %></th>
      <th><%= t(".course_name") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @courses %>
  </tbody>
</table>
