<div class="row"></div>
<div class="row">
  <table id="courses">
  <tr>
    <th class="small-6 columns">Course Number</th>
    <th class="small-6 columns  ">Course Name</th>
  </tr>
  <% @courses.each do |course| %>
  <tr>
    <td class="small-6 columns"><%=course.number %></td>
    <td class="small-6 columns"><%=link_to course.name, course%></td>
  </tr>
  <% end %>
</table>
</div>
