<table id="courses">
	<tr>
		<th>Course Number</th>
		<th>Course Name</th>
		<th>Outcomes</th>
	</tr>
	<% @courses.each do |course| %>
	<tr>
		<td><%=course.course_number %></td>
		<td><%=course.course_name %></td>
		<td>&nbsp;</td>
	</tr>
	<% end %>
</table>