<div class="class-card">
  <h2 class="class-card-heading">
    <span class="class-card-subject-number">
      <%= coverage.subject.number %>
    </span>
    <%= coverage.subject.title %>
  </h2>

  <%= render coverage.outcome_coverages %>
</div>
