<div class="row">
  <div class="five columns centered">
    <h4>Edit assessment "<%= @assessment.name %>. <%= @assessment.description %>"</h4>
  </div>
</div>

<%= render "#{@assessment.to_partial_path}_form" %>
