<div class="row">
  <div class="five columns centered">
    <h4>Add results for outcome "<%= @outcome.name %>. <%= @outcome.description %>"</h4>
  </div>
</div>

<%= render "#{@assessment.to_partial_path}_form" %>
