<a href="<%= javascript_void %>" class="faq-row" data-role="faq-row">
  <div class="faq-row-question" data-role="faq-row-question">
    <p><%= question %></p>
    <%= inline_svg "plus_sign.svg" %>
  </div>

  <div class="faq-row-answer" data-role="faq-row-answer">
    <p><%= answer %></p>
  </div>
</a>
