<h1>About</h1>

<p>outcomes.mit.edu is an application designed for tracking student learning
outcomes for ABET Accreditation for the School of Engineering.</p>

<p>Access is managed via the Roles Database, and can be assigned by your
department's HR contact.</p>

<p>For more information please contact Jon Daries in Institutional Research at
<a href="mailto:daries@mit.edu">daries@mit.edu</a></p>
