<h1>Assessments</h1>

<p>Assessments are ways to measure to what extent students are achieving the Student Learning
Outcomes.</p>

<p>The faculty were surveyed and asked to map the outcomes to their respective undergraduate
classes. They were then asked which assessments would be used to measure those outcomes. For your
subject, you will see each assessment listed. Each assessment will be used to measure how many
students meet the outcomes selected by the faculty.</p>

<hr>

<h2>Basic Information</h2>

<h4>Example Assessment</h4>

<p>Below is an example assessment for the subject EECS 2013 self-study. This assessment would be
used to measure the ABET standard outcome: a &mdash; an ability to apply knowledge of mathematics,
science, and engineering.</p>

<ul>
  <li><strong>Subject:</strong> EECS 2013 self-study</li>
  <li><strong>Assignment Name &amp; Description:</strong> 6.02 Quiz 1, Bits module</li>
  <li><strong>Minimum Grade:</strong> Students score 85 or higher</li>
  <li><strong>Target Percentage:</strong> 80% of students should achieve the minimum grade</li>
</ul>

<%= image_tag "documentation/assessment_form_fields.png" %>

<h4>Anatomy of a Good Assessment</h4>

<ul>
  <li>
    <p>Assessments should be as granular as possible</p>

    <ul>
      <li>Tied to a problem on an assignment or quiz</li>
      <li>Overall course grade not fine-grained enough</li>
    </ul>
  </li>
  <li>Assessments should tie to required subjects</li>
  <li>Assessments should have a target percentage of students who "pass" the assessment</li>
  <li>Each semester or year, actual percentage is gathered</li>
</ul>

<hr>

<h2>On the Website</h2>

<p>To create or edit assessments, visit the <strong>"Manage Assessments"</strong> tab.</p>

<%= image_tag "documentation/manage_assessments_tab.png" %>

<h4>Creating Assessments</h4>

<ol>
  <li>Click the <strong>"Manage Assessments"</strong> tab</li>
  <li>Click the <strong>"Create New Asssessment"</strong> button</li>
</ol>

<h4>Editing or Archiving Assessments</h4>

<ol>
  <li>Click the <strong>"Manage Assessments"</strong> tab</li>
  <li>
    If you only have access to one course, you'll be sent directly to that course's page and can
    move on to Step 3. If you have access to mutliple courses, click the
    <strong>"View Asssessments"</strong> action for course the assessment belongs to
  </li>
  <li>
    Find the assessment and click the appropriate action (<strong>"Edit"</strong>,
    <strong>"Archive"</strong>)
  </li>
</ol>
