<h1>Assignments</h1>

<p>Assignments are how we measure student achievement of the learning outcomes.
In this section we ask: in a subject that teaches a given outcome, what assignment or test
is a good place to measure how well students have learned that outcome?</p>

<hr>

<h2>On the Website</h2>

<p>To create an Assignment, visit the <strong>"Manage Classes and Assignments"</strong> tab.</p>

<%= image_tag "documentation/manage_classes_and_assignments_tab.png" %>

<h4>Creating Assignments</h4>

<ol>
  <li>You must first add a class (see the
    <%=link_to t("layouts.documentation_side_nav.classes"), page_path("classes")%>
    section of the Documentation for more information.)</li>
  <li>After adding your class, choose the "+ Add an Assignment" link under the class title.</li>
  <%= image_tag "documentation/add_an_assignment.png" %>
  <li>In the form that appears, fill in the assignment (can be an exam, a quiz,
    a problem set, project, etc.) and the problem or section of that assignment (optional)
  that is a good way to measure student mastery of the selected learning outcome.</li>
  <li>If you have a copy of the assignment and/or examples of graded student work,
  you can upload those now. Or you can add them later.</li>
</ol>

<h4>Editing or Deleting an Assignment</h4>

<p><strong>To edit an existing Assignment</strong>, just click on the name of the Assignment from
  the "Manage Classes and Assessments" view.</p>
  <p><strong>To delete an existing Assignment</strong>, click the grey "Delete"
  link to the right of the Assignment name. Note: deleting an assignment will
archive any data that has been attached to that assignment.</p>
