<h1>Classes</h1>

<p>Classes (aka "Subjects") are where we track how the Outcomes for
a degree program align with the curriculum.</p>

<hr>

<h2>Basic Information</h2>

<p>In this application, Classes are used to gather two key types of information:</p>

<ol>
  <li><strong>Where students learn the learning outcomes.</strong> e.g. "In 6.004, students learn design."</li>
  <li><strong>Syllabi for the ABET self-study.</strong> These can be uploaded once a class has been added to the application.</li>
</ol>

<hr>

<h2>On the Website</h2>

<p>To create classes, visit the <strong>"Manage Classes and Assignments"</strong> tab.</p>

<%= image_tag "documentation/manage_classes_and_assignments_tab.png" %>

<h4>Creating classes</h4>

<ul>
  <li>If you don't have any classes, you'll be prompted to add one when you visit this page.</li>
  <li>If you already have classes:</li>
  <ol>
    <li>First, check to see if you still have unmatched outcomes</li>
    <%= image_tag "documentation/unmatched_outcomes_tab.png" %>
    <li>If so, visit the Unmatched Outcomes tab and choose an outcome to attach your class to.</li>
    <%= image_tag "documentation/add_class_from_unmatched_outcomes.png" %>
    <li>If all of your outcomes are matched, you can add another class by clicking on the "+Add a class" button at the bottom of the page.</li>
  </ol>
</ul>
