<h1>Welcome</h1>

<p>outcomes.mit.edu is an application designed for tracking student learning outcomes for ABET
Accreditation for the School of Engineering.</p>

<p>Access is managed via the Roles Database, and can be assigned by your department's HR contact.
For more information please contact <%= jon_daries %>.</p>
