<h1>Outcomes</h1>

<p>Student outcomes describe what students are expected to know and be able to do by the time of
graduation. These relate to the skills, knowledge, and behaviors that students acquire as they
progress through the program.</p>

<hr>

<h2>Basic Information</h2>

<h4>Types of Outcomes</h4>

<p>There are two types of outcomes:</p>

<ul>
  <li>Default ABET Outcomes (a-k)</li>
  <li>Custom Outcomes that map to ABET defaults</li>
</ul>

<p>Departments can either:</p>

<ul>
  <li>Adopt all of the default ABET outcomes</li>
  <li>Create custom outcomes and specify which default ABET outcome they map to</li>
</ul>

<h4>Example Outcomes</h4>

<p>The custom outcome below has a high level of alignment with the ABET default outcome:</p>

<h5>Default ABET Outcome</h5>

<ul>
  <li>
    1.1 &mdash; Apply the principles of the underlying sciences of mathematics, physics, chemistry,
    and biology (From Aero-Astro 2013 Report)
  </li>
</ul>

<h5>Custcom Outcome</h5>

<ul>
  <li>a &mdash; an ability to apply knowledge of mathematics, science, and engineering</li>
</ul>

<hr>

<h2>On the Website</h2>

<p>To manage the outcomes for a course, visit the <strong>"Manage Outcomes"</strong> tab.</p>

<%= image_tag "documentation/manage_outcomes_tab.png" %>

<h4>Setting Up Outcomes</h4>

<p>When setting up outcomes for the first time, you have two options:</p>

<ul>
  <li>
    <strong>"Adopt Default Outcomes"</strong> &mdash; Copies ABET Standard Outcomes as your outcomes
  </li>
  <li>
    <strong>"Create Custom Outcomes"</strong> &mdash; Allows you to add your own outcomes
  </li>
</ul>

<h4>Custom Outcomes</h4>

<ul>
  <li>Needs a number or letter of some sort</li>
  <li>
    Needs a description (e.g. "Apply the principles of the underlying sciences of mathematics,
    physics, chemistry, and biology")
  </li>
  <li>Choose level of alignment with existing ABET standard outcomes</li>
</ul>
