<h1>Recording Data</h1>

<p>The faculty were surveyed and asked to map the outcomes to their respective undergraduate
classes. They were then asked which assessments would be used to measure those outcomes. For your
subject, you will see each assessment listed. Each assessment will be used to measure how many
students meet the outcomes selected by the faculty.</p>

<hr>

<h2>On the Website</h2>

<p>To record data for a subject, visit the <strong>"Record Data"</strong> tab.</p>

<%= image_tag "documentation/record_data_tab.png" %>

<h4>Updating the Assessment</h4>

<p>Before you record data, you should confirm both the minimum grade and the target percentage with
the professor. For the purposes of setting up the system, a percentage of 80 was entered. However,
as shown in the example above, the professor might feel a different number is appropriate.</p>

<p>If the minimum grade or target percentage for the assessment are incorrect:</p>

<ol>
  <li>Click the <strong>"Record Data"</strong> tab</li>
  <li>
    If you only have access to one subject, you'll be sent directly to that subject's page and can
    move on to Step 3. If you have access to mutliple subjects, click the
    <strong>"View Asssessments"</strong> action for subject the assessment belongs to
  <li>Click the <strong>"View"</strong> action for the assessment</li>
  <li>Click the <strong>"Edit"</strong> button for the assessment</li>
</ol>

<h4>Entering Data</h4>

<ol>
  <li>Click the <strong>"Record Data"</strong> tab</li>
  <li>
    If you only have access to one subject, you'll be sent directly to that subject's page and can
    move on to Step 3. If you have access to mutliple subjects, click the
    <strong>"View Asssessments"</strong> action for subject the assessment belongs to
  </li>
  <li>Click the <strong>"Add Result"</strong> action for the assessment</li>
  <li>Select the year and period for that assessment</li>
  <li>
    Calculate the percentage of students who met the minimum grade for that assessment and select
    that number in the <strong>"Actual Percentage"</strong> dropdown
  </li>
  <li>
    Click <strong>"Create Result"</strong> and then you're ready to move on to the next assessment
  </li>
</ol>
