<h1>Recording Data</h1>

<p>In order to satisfy the "Continuous Improvement" aspect of ABET accreditation,
the outcomes.mit.edu application allows for gathering direct assessment data.
Direct assessment is the practice of using student performance in their coursework
as a way to demonstrate mastery of student learning outcomes. The "Recording Data"
 section of the application is where we gather direct assessment data.</p>

<hr>

<h2>On the Website</h2>

<p>To record data for a subject, visit the <strong>"Record Data"</strong> tab.</p>

<%= image_tag "documentation/record_data_tab.png" %>

<ol>
  <li>Find the class or subject that you will be recording
data for.</li>

<li>Find the applicable assignment.</li>
<li>Click on the "+ Add Result" link for that assignment.</li>
<%= image_tag "documentation/add_result.png" %>
<li>This link will take you to a form where you record the semester, year, and
  the percent of students who scored well enough to demonstrate mastery of the
learning outcome.</li>
</ol>
