<div class="nested-fields">
  <%= f.input :outcome_id,
    headline: "and",
    collection: outcomes,
    label_method: :to_short_s %>

  <% if f.object.new_record? %>
    <%= link_to_remove_association t(".remove"), f, class: "remove-outcome" %>
  <% end %>
</div>
