<h1>Subjects</h1>
<ul>
  <% @subjects.each do |subject| %>
    <li><%= link_to subject, subject_path(subject) %></li>
  <% end %>
</ul>
<p>[IF ACCESS TO CREATE ASSESSMENTS]: If you do not see your subject listed,
  then you need to [LINK] add an assessment for that subject. </p>
<p>[IF NO ACCESS TO CREATE ASSESSMENTS]: If you do not see your subject listed,
then you will need to ask your departmental ABET Administrator to create an
assessment for your subject.</p>
