<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".heading") %></h1>

<% if policy(:generic).create_assessments? %>
  <p><%= t(".description.can_create_assessments_html",
    add_assessment_link: link_to(t(".add_assessment"), "#")) %></p>
<% else %>
  <p><%= t(".description.cannot_create_assessments_html") %></p>
<% end %>

<ul class="subjects">
  <% @subjects.each do |subject| %>
    <li><%= link_to subject, subject_path(subject) %></li>
  <% end %>
</ul>
