<p class="class-card-outcome class-card-outcome-letter">
  <%= t(".outcome", label: outcome_coverage.outcome_label) %>
</p>
<p class="class-card-outcome class-card-outcome-nickname">
  <%= outcome_coverage.outcome_nickname %>
</p>
