<% tab(TabHelper::ASSESSMENTS) %>

<h1><%= t(".heading") %></h1>
<%= outcome_details(@outcome || @assessment.outcomes.first) %>

<%= simple_form_for @assessment, url: manage_assessments_indirect_assessment_path(@assessment) do |f| %>
  <%= render "#{@assessment.to_partial_path}_form", f: f %>
<% end %>
