<% if policy(course).create_outcomes? %>
  <div class="row">
    <h3>To set up outcomes</h3>
  </div>

  <div class="row">
    <%=link_to "Adopt Standard Outcomes",
      course_standard_outcomes_path(course) %>
  </div>

  <div class="row">
    <%=link_to "Create Custom Outcomes", new_course_outcome_path(course) %>
  </div>
<% else %>
  <p>This course has no associated outcomes and you do not have permission
  to add any.</p>
<% end %>
