<div class="row">
<h3>Match outcome to ABET default outcomes</h3>
</div>
<div class="row">
  <h4><%=@outcome.name%>. <%=@outcome.description%></h4>
</div>
<div class="row">
  <div class="small-10">
    <% form_for @outcome do |f| %>
      <% @std_outcome_alignments.each do |std_outcome_alignment| %>
        <div class="row">
          <div class="small-1 columns">
            <%std_outcome_alignment.standard_outcome.name%>
          </div>
          <div class="small-1 columns">
            <%std_outcome_alignment.standard_outcome.description%>
          </div>
        </div>
        <%= f.fields_for :outcome_alignments do |align_form| %>
          <div class="row">
            <div class="small-2 columns">
              <%=align_form.select :alignment_level, options_for_select(@align_levels)%>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>

