<h2><%= t(".heading") %></h2>
<ul>
  <% outcomes.order(:name).each do |outcome| %>
    <li>
      <%= link_to_if policy(outcome.course).show?,
        "#{outcome.course} - #{outcome}",
        manage_outcomes_course_outcomes_path(outcome.course) %>
    </li>
  <% end %>
</ul>
