.add-item {
  @include margin($large-spacing null);
  color: $base-font-color;
  cursor: pointer;
  display: block;
  font-family: $sans-serif-narrow;
  font-size: 110%;
  text-align: center;
  transition: $base-transition;

  &:hover,
  &:focus {
    background-color: $mit-red;
    color: $white;
  }

  .class-card & {
    @include margin(0 (-$base-spacing) (-$base-spacing));
    border-top: $lighter-border;
  }
}

.add-item-short {
  @include padding($base-spacing null);
}

.add-item-subtle {
  background-color: $lighter-gray;
}

.add-item-icon {
  @include size(0.65em 0.75em);
  fill: $mit-red;
  margin-right: 0.0175em;
  transition: inherit;

  @at-root {
    .add-item:hover &,
    .add-item:focus & {
      fill: $white;
    }
  }
}

.add-item-attachment {
  font-size: $base-font-size;
  margin: 0;
}

.attachments {
  border: $lighter-border;
  font-family: $sans-serif-narrow;
  margin-top: $large-spacing;
}

.attachment {
  @include padding($small-spacing);
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    border-bottom: $lighter-border;
  }

  .remove_fields {
    flex: 1;
    text-align: right;
  }
}

.is-hidden {
  display: none;
}
