.add-item {
  @include margin($large-spacing null);
  color: $base-font-color;
  cursor: pointer;
  display: block;
  font-family: $sans-serif-narrow;
  font-size: 110%;
  text-align: center;
  transition: $base-transition;

  &:hover,
  &:focus {
    background-color: $mit-red;
    color: $white;
  }

  .class-card & {
    @include margin(0 (-$base-spacing) (-$base-spacing));
    border-top: 1px solid $lighter-border-color;
  }
}

.add-item-short {
  @include padding($base-spacing null);
}

.add-item-subtle {
  background-color: $lighter-gray;
}

.add-item-icon {
  @include size(0.65em 0.75em);
  fill: $mit-red;
  margin-right: 0.0175em;
  transition: inherit;

  @at-root {
    .add-item:hover & {
      fill: $white;
    }
  }
}
