.class-card {
  @include margin(null null $medium-spacing);
  background-color: $white;
  border: $thick-border-width solid tint($lighter-border-color, 25%);
  border-top: 0;
  padding: $base-spacing;
}

.class-card-subject-title {
  color: $white;
  font-family: $sans-serif-narrow;
  font-size: 165%;
  margin: 0;
}

.class-card-heading-outcomes {
  color: tint($medium-gray, 18%);
  font-family: $sans-serif-narrow;
  margin-bottom: 0;
}

.class-card-heading {
  @include border-top-radius($base-border-radius);
  @include padding($medium-spacing $base-spacing);
  align-items: center;
  background-color: $brown;
  border-bottom: $thick-border-width solid rgba(black, 0.15);
  color: $white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.class-card-subject-number {
  font-size: 85%;
  letter-spacing: $small-font-letter-spacing;

  &::after {
    color: $mit-red;
    content: "·";
  }
}

.class-card-outcomes-wrapper {
  @include padding($base-spacing null);
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @at-root {
    .delete-outcome-coverage {
      font-size: $small-font-size;
      opacity: 0.50;
      position: absolute;
      right: 0;
      top: calc(#{$base-spacing} + 0.75em);

      &:active,
      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }

  a {
    @include anchor-color($base-font-color);
    border-bottom: $thick-border-width solid transparent;
    padding-bottom: $thick-border-width;

    &:active,
    &:focus,
    &:hover {
      border-bottom-color: $mit-red;
    }
  }
}

.class-card-outcomes {
  @include margin($smallest-spacing $small-spacing $small-spacing null);
  flex: 0.25 auto;
  line-height: $heading-line-height;
  width: 100px;
}

.class-card-assignments {
  flex: 1 auto;
  width: $sensible-line-length;
}

.class-card-assignment {
  @include margin(0 null $smallest-spacing);
  font-family: $sans-serif-narrow;
  font-size: 125%;
  font-weight: bolder;
  margin-bottom: 0.5em;

  a {
    border-bottom: $thick-border-width solid $base-border-color;
  }

  &.add-assignment {
    a {
      @include anchor-color($mit-red);
      border-bottom: $thick-border-width solid $mit-red;
    }
  }
}

.class-card-assignment-controls {
  @include margin($base-spacing null);
  font-family: $sans-serif-narrow;
}

.class-card-assignment-control {
  margin-right: $base-spacing;
}
