.selectize-input.not-full > input {
  width: 100% !important;
}

.selectize-control {
  margin-bottom: $base-spacing;
}

.direct_assessments-show {
  .outcomes {
    margin-top: $base-spacing;

    ul {
      @extend %default-ul;
    }
  }
}
