.headline-narrow-subhead,
.headline-narrow {
  font-family: $sans-serif-narrow;
  text-align: center;
}

.headline-narrow {
  color: $dark-gray;
  margin-bottom: 0.2em;

  @include media($medium-screen-up) {
    font-size: 2.75em;
  }

  .madlib-header & {
    color: $white;
  }
}

.headline-narrow-pad {
  padding-top: $base-spacing;
}

.headline-narrow-subhead {
  color: $brown;
  font-size: $base-font-size;
  font-weight: normal;
  margin-bottom: $large-spacing;

  .madlib-header & {
    color: $mit-red-shade;
  }
}
