.headline-narrow-subhead,
.headline-narrow {
  font-family: $sans-serif-narrow;
  text-align: center;
}

.headline-narrow {
  color: $dark-gray;
  margin-bottom: 0.2em;
}

.headline-narrow-subhead {
  color: $brown;
  font-weight: normal;
  margin-bottom: $medium-spacing;
}
