.madlib-statement {
  @include padding(null null $base-spacing);

  @include media($large-screen-up) {
    display: flex;
  }

  .headline-poster {
    padding-left: rem(8);
  }
}

.madlib-statement-input {
  @include media($large-screen-up) {
    flex: 1 auto;
    margin-left: $base-spacing;
  }
}
