.madlib-controls {
  margin-top: $large-spacing;

  #{$all-button-inputs} {
    @include padding(null $large-spacing);
    background-color: $mit-red;

    &:focus,
    &:hover {
      background-color: darken($mit-red, 15%);
    }
  }

  a {
    @include anchor-color($medium-gray);
    font-size: $small-font-size;
    margin-left: $large-spacing;
  }
}

.remove-outcome {
  @include anchor-color($mit-red);
  font-family: $sans-serif-narrow;
  font-size: $smallest-font-size;
  letter-spacing: $small-font-letter-spacing;

  .nested-fields & {
    float: right;
    margin-top: -($large-spacing + 0.75em);
  }
}
