.madlib-statement {
  @include padding(null null $base-spacing);

  @include media($large-screen-up) {
    display: flex;
  }

  .headline-poster {
    padding-left: rem(8);
  }
}

.madlib-statement-input {
  @include media($large-screen-up) {
    flex: 1 auto;
    margin-left: $base-spacing;
  }
}

.underline {
  display: flex;
  justify-content: space-between;
}

.field_with_errors {
  .selectize-control .selectize-input.items {
    background-color: tint($required-color, 90%);
    border-bottom-color: $required-color;
  }

  .error {
    display: block;

    @at-root .error {
      background: image-url("icon_error.svg") 100% center / 1.35em no-repeat;
      color: $required-color;
      display: none;
      font-size: $small-font-size;
      padding-right: 2em;
    }
  }
}
