.outcome-nickname {
  @extend %small-caps;
  color: $brown;
  font-size: $smallest-font-size;
  margin-bottom: 0;

  .outcome-card-unmatched &,
  .outcome-card-matched & {
    font-family: $serif;
    font-size: initial;
    letter-spacing: normal;
    text-transform: none;

    @include media($medium-screen-up) {
      font-size: 120%;
    }
  }

  .outcome-card-unmatched & {
    color: $brown;
  }

  .class-card-heading & {
    color: $white;
  }
}
