.outcome-letter-subhead {
  @extend %small-caps;
  color: tint($medium-gray, 15%);
  font-family: $sans-serif-narrow;
  font-size: $smallest-font-size;
  margin-bottom: 0.125em;

  &:not(:first-of-type) {
    margin-top: $small-spacing;
  }
}
