.activity-feed {
  border-top: $base-border;
}

.activity-header-date {
  color: $mit-red;
}

.activity-icon {
  $total-padding: 20px;

  @include padding(null ($total-padding / 2));
  width: $icon-size + $total-padding;

  img {
    display: block;
  }
}

.activity-event-and-subject {
  @include padding($base-spacing null);
}

.activity-event {
  display: block;
  font-family: $serif;
  margin-bottom: $smallest-spacing;

  a {
    display: inline;
  }
}

.activity-subject {
  color: $medium-gray;
  display: block;
  font-size: $small-font-size;
}

.activity-header-count,
.activity-time {
  text-align: right;
}
