.assessment-details {
  &.card {
    border: 0;
    margin: ($large-spacing - 1.5em) 0 $large-spacing;

    p {
      margin-bottom: $small-spacing;
    }

    p:last-of-type {
      margin: 0;
    }
  }
}

.assessment-details {
  background-color: tint($light-gray, 75%);
  padding: $large-spacing 0;
}

.assessment-subtitle {
  color: $brown;
  margin-bottom: $smallest-spacing;
}

.assessment-title {
  font-size: em(20);
  font-weight: $bold;
  margin-bottom: $small-spacing;
}

.assessment-form-container {
  &.card {
    border-top: 0;
    margin-top: 0;
    padding: $largest-spacing;
  }

  button {
    padding: 1.2rem;
    width: 100%;
  }

  input {
    line-height: 2;
    margin-bottom: $base-spacing * 1.5;
    padding-left: $small-spacing;
  }

  label {
    color: shade($light-blue, 65%);
  }
}

.assessments-dashboard-options {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media($medium-screen-up) {
    flex-direction: row;
  }

  h6 {
    @extend %small-caps;
    color: $base-font-color;
    font-family: $sans-serif-narrow;
  }
}

.assessments-dashboard-option {
  flex: 1;
  padding: $base-spacing;
  text-align: center;

  @include media($medium-screen-up) {
    &:first-of-type {
      border-right: $base-border;
    }
  }
}
