.header-with-filters {
  @include linear-gradient(to bottom, $white, $lightest-gray);
  border-bottom: $base-border;
}

.filters {
  @include clearfix;
  float: left;
  margin-top: $base-spacing;

  > * {
    float: left;
  }

  input,
  .selectize-control {
    @include margin(0 $small-spacing $small-spacing 0);
    float: left;
    width: $filter-item-width;
  }

  input {
    background-color: $white;
  }
}
