.header-with-filters {
  @include linear-gradient(to bottom, $white, $lightest-gray);
  border-bottom: $base-border;
}

.filters {
  margin-top: $base-spacing;

  .selectize-control {
    margin: 0;
    max-width: 200px;
  }
}
