.assessment-title {
  margin-bottom: $small-spacing/2;
}

ul.assessment-details {
  @include margin($large-spacing null);
  @include padding(null $large-spacing);
  line-height: 2em;
  list-style-type: disc;
}

.period .input {
  display: inline-block;
  padding-right: 2em;
}

.no-records {
  @include flash($notice-color);
}

[data-role='view-histogram'] {
  display: none;
}
