.assessment-problem {
  margin-bottom: $small-spacing/2;
}

.assessment-details {
  @include margin($large-spacing null);
  @include padding($medium-spacing $large-spacing);
  line-height: 2em;
  list-style-type: disc;
}

.period .input {
  display: inline-block;
  padding-right: 2em;
  width: 150px;
}

[data-role='view-histogram'] {
  display: none;
}
