<h1> Default Outcomes </h1>

<ul>
  <% @outcomes.each do |outcome| %>
    <li><%= "#{outcome.name} - #{outcome.description}" %></li>
  <% end %>
<ul>

<br>
<%= button_to "Adopt default outcomes for Course #{@course.number} - #{@course.name}",
  course_default_outcomes_path(@course) %>
