<div class="assessment-details card">
  <h1 class="assessment-title">You’re creating an assessment for</h1>
  <h6 class="assessment-subtitle">course</h6>
  <p>Biological Engineering (Course 20)</p>
  <h6 class="assessment-subtitle">outcome <%= "#{@outcome.name}" %></h6>
  <p><%= "#{@outcome.description}" %></p>
</div>
