<% if user_facing_flashes.any? %>
  <div class="flashes">
    <% user_facing_flashes.each do |key, value| -%>
      <div class="flash-<%= key %>">
        <% if flash[:html_safe].present? %>
          <%= raw value %>
        <% else %>
          <%= value %>
        <% end %>
      </div>
    <% end -%>
  </div>
<% end %>
