<div class="steps">
  <a class="step active" href="javascript:void(0)">Choose type of assessment</a>
  <a class="step" href="javascript:void(0)">Enter results</a>
  <a class="step" href="javascript:void(0)">Confirmation</a>
</div>
