<ul class="accordion-tabs-minimal" role="navigation">
  <li><%= link_to t(".outcomes"), root_path, class: "is-active" %></li>
  <li><%= link_to t(".assessments"), "javascript: void(0)" %></li>
  <li><%= link_to t(".data"), "javascript: void(0)" %></li>
</ul>
