<ul class="accordion-tabs-minimal" role="navigation">
  <li>
    <%= link_to t(".outcomes"),
      manage_outcomes_root_path,
      class: tab_class(TabHelper::OUTCOMES) %>
  </li>
  <li>
    <%= link_to t(".assessments"),
      assessments_dashboard_path,
      class: tab_class(TabHelper::ASSESSMENTS) %>
  </li>
  <li>
    <%= link_to t(".data"),
      subjects_path,
      class: tab_class(TabHelper::DATA_ENTRY) %>
  </li>
</ul>
