<div class="modal-overlay"></div>

<div class="modal" data-modal-name="<%= modal_name %>">
  <div class="modal-close-wrapper">
    <%= fa_icon "close", class: "modal-close" %>
  </div>

  <%= yield %>
</div>
